
#titulo1{
    color:  blue;
    font-size: 50px;
    text-align: left;
    border-style: double; color: red;
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
}
#titulo001{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
    border-style: double; color: red;

}

#titulo2{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;

}

#titulo4{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
    border-style: double; color: red;
}

#titulo5{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
  
}

#titulo7{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
    border-style: double; color: red;

}

#titulo8{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo9{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo10{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo11{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
    border-style: double; color: red;

}

#titulo12{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo13{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo14{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

#titulo15{
    color:blue;
    font-size: 20px;
    text-align: center;
    font-family:  cursive;
}

.img{
    
    height: 300px;
    
    text-align: center;
    margin-top: 90px;
}


.img4{
    
    height: 300px;
    margin-top: 90px; 
    text-align: center;
}


.img3{
    
    
    display: flex;
    justify-content: center;
}

.img2{

    
    height: 300px;
    margin-top: 90px;
    text-align: right;
}


.img5{

    display: flex;
    justify-content: center;
    
}

.contenedor{
    margin-right: 20px;
    justify-content: center;
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
   
} 

.contenedor2{
    margin-left: 20px;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.contenedor3{
    margin-right: 20px;
    margin-left: 20px;

    margin-top: 90px;
    margin-bottom: 90px;
}

.contenedor4{
    margin-left: 20px;
    justify-content: right;
    margin-top: 90px;
    margin-bottom: 90px;
}

body{
    background-color: black;
}


